<html>
  <head>
 
  </head>
  <body>
    <router-outlet></router-outlet>  
    <div class="area"></div><nav class="main-menu">
            <ul >
                <li routerLink='/profile'>
                    <span>
                    <div class="card mb-3" >
                        <div class="row g-0">
                          <div class="col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Welcome</h5>
                              <p class="card-text">{{user.lastname}} {{user.name}}</p>
                              <p class="card-text"><small class="text-muted">{{user.email}}</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      </span>
                </li>
                <li>
                    <a routerLink = "">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLink='/profile'>
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Profile
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                     
                        </span>
                    </a>
                </li>
                <li>
                   <a  routerLink="/users" routerLinkActive="active" >
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text"  >
                            Users 
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a *ngIf="data.isLoggedIn()" (click)="logout()" type="submit">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text" >
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
       
  </body>
    </html>
   